# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# ======================
# Django
# ======================
*.log
settings.py
db.sqlite3
media/
staticfiles/

# Django migrations (optional)
# predictor/migrations/
# */migrations/

# ======================
# ML / Data Science
# ======================
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.pth
data/
datasets/
notebooks/.ipynb_checkpoints/

# ======================
# MLflow
# ======================
mlruns/
mlartifacts/
mlrunsModels/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ======================
# Docker
# ======================
*.tar
docker-compose.override.yml

# ======================
# Environment variables / secrets
# ======================
.env
.env.*
!.env.example

# ======================
# Test / Coverage
# ======================
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/

# ======================
# Logs
# ======================
logs/
